root = true

[*]
insert_final_newline = false
trim_trailing_whitespace = true

[*.dm]
end_of_line = crlf
indent_style = tab
indent_size = 4

[*.dmm]
end_of_line = crlf

[*.py]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

