#Ignore misc BYOND files.

#git rm -r --cached <filename> <filename>

#git rm . -r --cached
#git add .
#git commit -m "Fixed untracked files."

*.log
*.int
*.rsc
*.dmb
*.lk
data/
maploader_debug.txt
Thumbs.db