html { box-sizing: border-box; }
* { margin: 0; padding: 0; }
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #222222;
  color: #ccc;
}

a {
  text-decoration: none;
  color: #6cbfc4;
}
a:hover { text-decoration: underline; }

.content {
  width: 650px;
  max-width: 650px;
  margin: 0 auto;
}
.title {
  color: white;
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #666666;
}
.title h2 {
  font-size: 28px;
  margin-bottom: 3px;
}

.changelog {
	margin-bottom: 20px;
	font-size: 100%;
	font-weight: normal;
	padding: 0 12px;
}
.date {
	margin-top: 24px;
	margin-bottom: 8px;
	color:#6cbfc4;
	border-bottom: 2px solid #6cbfc4;
	width: 60%;
	padding: 2px 0;
	font-size: 16px;
	font-weight: bold;
}
.author {
	margin-top: 12px;
	margin-bottom: 6px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
}
.changes {
	list-style:none;
	margin: 5px 0;
	padding: 0 0 0 25px;
	font-size: 14px;
}

a img {border:none;}
.bgimages16 .log {
	margin-bottom: 4px;
	padding: 6px 12px 6px 32px;
	background-position: 8px center;
	background-repeat: no-repeat;
	background-color: #333;
	border: 1px solid #333;
	border-left: 4px solid #555;
	border-radius: 0;
}
.bgimages16 .log:first-child {
	border-top-right-radius: 8px;
}
.bgimages16 .log:last-child {
	border-bottom-right-radius: 8px;
}

.bgimages16 img {
	padding: 4px;
	border-radius: 2px;
	background-color: #ffffff;
}
.bugfix     { background-image:url(bugfix.png)     }
.wip        { background-image:url(wip.png)        }
.tweak      { background-image:url(tweak.png)      }
.soundadd   { background-image:url(soundadd.png)   }
.sounddel   { background-image:url(sounddel.png)   }
.rscadd     { background-image:url(rscadd.png)     }
.rscdel     { background-image:url(rscdel.png)     }
.imageadd   { background-image:url(imageadd.png)   }
.imagedel   { background-image:url(imagedel.png)   }
.spellcheck { background-image:url(spellcheck.png) }
.experiment { background-image:url(experiment.png) }
.balance    { background-image:url(balance.png)    }
.maptweak   { background-image:url(maptweak.png)   }
.admin      { background-image:url(admin.png)      }
