.radio					{color: #ff9933;}
.commonradio			{color: #336600;}
.comradio				{color: #333366;}
.syndradio				{color: #cc9999;}
.raiderradio				{color: #cc9999;}
.aiprivradio			{color: #ff99ff;}
.secradio				{color: #cc0000;}
.engradio				{color: #cc9966;}
.medradio				{color: #009999;}
.sciradio				{color: #9933cc;}
.supradio				{color: #9999ff;}
.serradio				{color: #666699;}
