<B>Shield Generation Unit v2.00</B>
<div style="float">
	<h3>Generator Status</h3> 
	<div class='block'>
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>Activity Status:</span>
			</div>	
			<div style="float:left">
				{{if data.online}}
					<span class="good">{{:helper.link('ONLINE', 'power', {'toggle' : 1})}}</span>
				{{else}}
					<span class="bad">{{:helper.link('OFFLINE', 'power', {'toggle' : 1})}}</span>
				{{/if}}	
			</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>Power Draw:</span>
			</div>	
			<div class='itemContent'>
				<span class="average">{{:data.power_use}}</span>
			</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>Power Avail:</span>
			</div>	
			<div class='itemContent'>
				<span class="good">{{:data.input}}w</span>
			</div>
		</div>		
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>Shields Maintained:</span>
			</div>
			<div class='itemContent'>
				{{:helper.displayBar(data.shields_maintained, 0, data.total_shields, 'good')}}
				<span class="average">{{:data.shields_maintained}}/{{:data.total_shields}}f</span>
				{{:helper.link('Modify', 'wrench', {'shields_maint' : 1})}}
			</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>Shield Health:</span>
			</div>
			<div class='itemContent'>
				{{:helper.displayBar(data.active_shields, 0, data.shields_maintained, 'bad')}}
				<span class="average">{{:data.active_shields}}/{{:data.shields_maintained}}</span>
			</div>
		</div>		
	</div>
</div>
<br><hr><br>
<div style="float">
	<h3>Settings</h3> 
	<div class='block'>
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>Flux Frequency:</span>
			</div>
			<div class='itemContent'>
				{{:helper.displayBar(data.flux_frequency, 0, 10, 'good')}}
				{{:helper.link('Modify', 'wrench', {'freq' : 1})}}
			</div>
		</div>	
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>Flux Rate:</span>
			</div>
			<div class='itemContent'>
				{{:helper.displayBar(data.flux_rate, 0, 10, 'bad')}}
				{{:helper.link('Modify', 'wrench', {'rate' : 1})}}
			</div>
		</div>			
		<div class='item'>
			<div class='itemLabel'>
				<span class='average'>{{:helper.link('Flux Allocation:', 'cross', {'allocation' : 1})}}</span>
			</div>
			<div style="float:left">
				{{:data.flux_allocation}}
			</div>	
		</div>
	</div>
</div>
		
	