<div class='item'>
	{{for data.alarmsAlert}}
        {{:helper.link(value.name, null, {'alarm' : value.ref}, null, 'redButton')}}
    {{/for}}
</div>
<div class='item'>
    {{for data.alarmsDanger}}
        {{:helper.link(value.name, null, {'alarm' : value.ref}, null, 'yellowButton')}}
    {{/for}}
</div>
<div class='item'>
    {{for data.alarms}}
        {{:helper.link(value.name, null, {'alarm' : value.ref}, null, null)}}
    {{/for}}
</div>