{{:helper.link('Data', null, {'set_screen' : 1}, data.screen == 1 ? 'selected' : null)}}
{{:helper.link('Settings', 'gear', {'set_screen' : 2}, data.screen == 2 ? 'selected' : null)}}<br>

{{if data.screen == 1}}
	{{if data.sensors}}
		{{for data.sensors}}			
			<b>{{:value.long_name}}</b><br>
			{{if value.pressure}}
				<B>Pressure:</B> {{:value.pressure}} kPa<br>
			{{/if}}
			{{if value.temperature}}
				<B>Temperature:</B> {{:value.temperature}} K<br>
			{{/if}}
			{{if data.gasses}}
				<B>Gas Composition:</B><br>
				{{for data.gasses}}
					{{:value.percent}}% {{:value.symbol}}<br>
				{{empty}}
					<B>No gasses detected.</B><br>
				{{/for}}
			{{/if}}
		{{empty}}
			<span class='brute'>{{:value.long_name}} cannot be found!</span><br>
		{{/for}}
	{{else}}
		There are no connected sensors.
	{{/if}}
	<hr>
	{{if data.control == 1}}
		<table>
			<tr><td><b>Tank Control System</b></td></tr>
			{{if data.automation == 1}}
				<tr><td>Automation Status:</td><td><span class = 'toxin'>Online</td><td>{{:helper.link('Toggle Automation', null, {'toggle_automation' : 1})}}</td></tr>
			{{else data.automation == 0}}
				<tr><td>Automation Status:</td><td><span class = 'brute'>Offline</td><td>{{:helper.link('Toggle Automation', null, {'toggle_automation' : 1})}}</td></tr>
			{{/if}}
			{{if data.input_present}}
				<tr><td><b>Input:</b></td><td>
				{{if data.in_power}}
					<span class='toxin'>Injecting</span>
				{{else}}
					<span class='brute'>On Hold</span>
				{{/if}}
				</td><td></td></tr>
				<tr><td><b>Flow Rate Limit:</b></td><td>{{:data.atmos_volume}} L/s</td></tr>
				<tr><td><b>Flow Rate:</b></td><td>{{:data.input_flow_setting}} L/s</td></tr>				
				<tr><td><b>Command:</b></td><td>{{:helper.link('Toggle Power', 'power', {'in_toggle_injector' : 1})}}{{:helper.link('Set Flow Rate', null, {'in_set_flowrate' : 1})}}{{:helper.link('Max Flow', null, {'in_set_max' : 1})}}{{:helper.link('Refresh', null, {'in_refresh_status' : 1})}}</td></tr>
			{{else}}
				<tr><td><span class='brute'>ERROR: Cannot find input port</span></td></tr>
				<tr><td><b>Command:</b></td><td>{{:helper.link('Toggle Power', 'power', {'in_toggle_injector' : 1},'disabled')}}{{:helper.link('Set Flow Rate', null, {'in_set_flowrate' : 1}, 'disabled')}}{{:helper.link('Max Flow', null, {'in_set_max' : 1}, 'disabled')}}{{:helper.link('Refresh', null, {'in_refresh_status' : 1})}}</td></tr>
			{{/if}}
		{{if data.out_pressure_mode}}
			{{if data.output_present}}
				<tr><td><b>Output:</b></td><td>
					{{if data.out_power}}
						<span class='toxin'>Open</span>
					{{else}}
						<span class='brute'>On Hold</span>
					{{/if}}					
				<tr><td><b>Minimum Chamber Pressure:</b></td><td>{{:data.external_pressure}} kPa</td></tr>
				<tr><td><b>Command:</b></td><td>{{:helper.link('Toggle Power', 'power', {'out_toggle_power' : 1})}}{{:helper.link('Set Pressure', null, {'s_out_set_pressure' : 1})}}{{:helper.link('Default Pressure', null, {'s_set_default' : 1})}}{{:helper.link('Refresh', null, {'out_refresh_status' : 1})}}</td></tr>
			{{/if}}
		{{else data.output_present}}
				<tr><td><b>Output:</b></td><td>
				{{if data.out_power}}
					<span class='toxin'>Open</span>
				{{else}}
					<span class='brute'>On Hold</span>
				{{/if}}				
			<tr><td><b>Max Output Pressure:</b></td><td>{{:data.max_pump_pressure}} kPa</td></tr>
			<tr><td><b>Output Pressure:</b></td><td>{{:data.out_pressure_setting}} kPa</td></tr>
			<tr><td><b>Command:</b></td><td>{{:helper.link('Toggle Power', 'power', {'out_toggle_power' : 1})}}{{:helper.link('Set Pressure', null, {'out_set_pressure' : 1})}}{{:helper.link('Max Pressure', null, {'out_set_max' : 1})}}{{:helper.link('Refresh', null, {'out_refresh_status' : 1})}}</td></tr>
		{{else}}
			<tr><td><span class='brute'>ERROR: Cannot find output port</span></td><td></tr>
			<tr><td><b>Command:</b></td><td>{{:helper.link('Toggle Power', 'power', {'out_toggle_power' : 1}, 'disabled')}}{{:helper.link('Set Pressure', null, {'s_out_set_pressure' : 1}, 'disabled')}}{{:helper.link('Default Pressure', null, {'s_set_default' : 1}, 'disabled')}}{{:helper.link('Refresh', null, {'out_refresh_status' : 1})}}</td></tr>
		{{/if}}
		</table>		
	{{/if}}
{{else data.screen == 2}}
	<b>Console Settings</b>
	<table>
		<tr><td><b>Frequency:</b></td><td>{{:data.frequency}}</td><td>{{:helper.link('', 'pencil', {'set_frequency' : 1})}}</td></tr>
		<tr><td><b>Input Tag:</b></td><td>{{:data.input_tag}}</td><td>{{:helper.link('', 'pencil', {'set_input_tag' : 1})}}</td></tr>
		<tr><td><b>Output Tag:</b></td><td>{{:data.output_tag}}</td><td>{{:helper.link('', 'pencil', {'set_output_tag' : 1})}}</td></tr>
		<tr><td><b>Sensor Name:</b></td><td>{{:data.sensor_name}}</td><td>{{:helper.link('', 'pencil', {'set_sensor_name' : 1})}}</td></tr>
		<tr><td><b>Sensor Tag:</b></td><td>{{:data.sensor_tag}}</td><td>{{:helper.link('', 'pencil', {'set_sensor_tag' : 1})}}</td></tr>
		{{if data.out_pressure_mode}}
			<tr><td><b>Pressure Mode:</b></td><td>External</td><td>{{:helper.link('Toggle', null, {'toggle_pressure_mode' : 1})}}</td></tr>
		{{else}}
			<tr><td><b>Pressure Mode:</b></td><td>Internal</td><td>{{:helper.link('Toggle', null, {'toggle_pressure_mode' : 1})}}</td></tr>
		{{/if}}
	</table>
{{/if}}