<table>
		<tr><td>
			<h3>Cell Timer</h3>
		</td>
		<td colspan=2>
			{{:helper.link(data.timing ? 'Stop' : 'Start' , 'clock', {'toggle' : 1}, data.timing ? 'selected' : null, null)}}
			{{for data.flashes}}
				{{:helper.link(value.status ? 'Flash' : 'Recharging' , 'lightbulb', {'flash' : 1}, value.status ? null : 'disabled', null)}}
			{{/for}}
		</td></tr>
		<tr><td>
			{{:helper.link('<div class="uiIcon16 icon-minus"></div>' , 'minus', {'adjust' : -600}, data.timing ? 'disabled' : null, null)}}
			{{:helper.link('' , 'minus', {'adjust' : -100}, data.timing ? 'disabled' : null, null)}}
			</td>
			<td style='width:30%;'>
			<center><b>{{:data.minutes}}:{{:data.seconds}}</b></center>
			</td>
			<td>
			{{:helper.link('' , 'plus', {'adjust' : 100}, data.timing ? 'disabled' : null, null)}}
			{{:helper.link('<div class="uiIcon16 icon-plus"></div>' , 'plus', {'adjust' : 600}, data.timing ? 'disabled' : null, null)}}
			</td></tr>
	</table>
		  