
<div class="item">
        <div class="itemLabel">
            <b>Player Name</b>:
        </div>
        <div class="itemContent">
            {{:data.myName}}
        </div>
    </div>


	<br>


	<iframe src="http://kidchess.com/flashchess/flashCHESS3.swf"height = "572" width = "800"></iframe><br><a href="http://kidchess.com">Kid Chess</a> powered by <a href="http://kidchess.com">kidchess.com</a>"



