<!--
Chorus mode, two panels side by side. The left shows all buildings possible and the right shows information about the current stuff
-->
<style>
	.linkbig {
		height:32px;
	}
	.column {
		float: left;
		width: 50%;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
</style>
<div align="center" style="display:table; width:100%">
{{for data.resources}}
	<div style="display:table-cell">
		{{:value.print}} {{:value.amount}}
	</div>
{{empty}}
	You appear not to have any resource datums. Contact an administrator or TheWelp on discord
{{/for}}
</div>
<div class="row">
	<div class="column">
		<div><b>Buildings</b></div>
		<div>
			{{for data.buildings}}
				<div>
					{{for value :buildingValue:buildingKey}}
						{{:helper.link(buildingValue.image, null, {'selected' : buildingValue.state}, null, "linkbig link")}}
					{{/for}}
				</div>
				<br><br><br>
			{{empty}}
				No buildings! Something went wrong.... contact administration or TheWelp on discord
			{{/for}}
		</div>
	</div>
	<div class="column">
		{{if data.has_selected}}
			<center>
				{{:data.selected.name}}
				<br>
				{{:data.selected.icon}}
				<br>
				{{:data.selected.desc}}
				<br>
				{{if data.selected.distance}}
				<div>
					<b>Build Distance: </b>{{:data.selected.distance}}
				</div>
				{{/if}}
				<br><b>Costs</b><br>
				<div style="display:table; width:100%">
					{{for data.selected.cost}}
						<div style="display:table-cell">
							{{:value.print}} {{:value.amount}}
						</div>
					{{empty}}
						N/A
					{{/for}}
				</div>
				<br><b>Requirements</b><br>
				<div>
					{{for data.selected.requirements}}
						<div>
							{{:value.amount}}x{{:value.name}}
						</div>
					{{empty}}
						N/A
					{{/for}}
				</div>
				{{if data.selected.activation_res}}
				<div>
					<b>Activation Cost: </b>{{:data.selected.activation_amt}} {{:data.selected.activation_res}}
				</div>
				{{/if}}
			</center>
		{{/if}}
	</div>
</div>