{{if data.authenticated}}
	{{if data.state === 1}}

		<h4>Command</h4>
		<div class=itemGroup>
			<div class=item>{{:helper.link('Make an announcement', null, {'action' : 'announce'}, data.isAI || !data.net_comms ? 'disabled' : null)}} </div>
			<div class=item>{{:helper.link('Change alert level', null, {'action' : 'sw_menu', 'target' : 5}, data.isAI || !data.net_syscont || !data.net_comms ? 'disabled' : null)}} </div>
			<div class=item>{{:helper.link('Set status display', null, {'action' : 'sw_menu', 'target' : 4}, !data.net_syscont ? 'disabled' : null)}} </div>
		</div>

		<h4>Communications</h4>
		<div class=itemGroup>
			<div class=item>{{:helper.link('Message list', null, {'action' : 'sw_menu', 'target' : 2}, !data.net_comms ? 'disabled' : null)}} </div>
			<div class=item>{{if data.emagged}}
				{{:helper.link('Send an emergency message to [UNKNOWN]', null, {'action' : 'message', 'target' : 'emagged'}, data.isAI || !data.net_comms ? 'disabled' : null)}}
			{{else}}
				{{:helper.link('Send an emergency message to ' + data.boss_short, null, {'action' : 'message', 'target' : 'regular'}, data.isAI || !data.net_comms ? 'disabled' : null)}}
			{{/if}} </div>
		</div>

		<h4>Additional</h4>
		<div class=itemGroup>
			{{for data.evac_options}}
				<div class="item">
					{{:helper.link(value.option_text, null, {'action' : 'evac', 'target' : value.option_target}, ((value.needs_syscontrol && !data.net_syscont) || (!value.silicon_allowed && data.isAI)) ? 'disabled' : null, 'redButton')}}
				</div>
			{{empty}}
				<div class=bad>No further options currently available.</div>
			{{/for}}
		</div>

	{{else data.state === 2}}
		Messages:
		{{for data.messages}}
			<div class=item>{{:helper.link(value.title, null, {'action' : 'viewmessage', 'target' : value.id})}}</div>
		{{empty}}
			<div class=item>There are no messages.</div>
		{{/for}}
		<div class=item>{{:helper.link('Back', null, {'action' : 'sw_menu', 'target' : 1})}}</div>
	{{else data.state === 3}}
		<div class=item><b>Title:</b> {{:data.message_current.title}}</div>
		<div class=item><b>Contents:</b> </br>{{:data.message_current.contents}}</div>
		<div class=item>
		{{:helper.link('Delete', null, {'action' : 'delmessage'})}}
		{{if data.have_printer}}
			{{:helper.link('Print', null, {'action' : 'printmessage'})}}
		{{/if}}
		{{:helper.link('Back', null, {'action' : 'sw_menu', 'target' : 2})}}
		</div>
	{{else data.state === 4}}
		Set status displays:
		<div class=item>{{:helper.link('Clear', null, {'action' : 'setstatus', 'target' : 'blank'})}} </div>
		<div class=item>{{:helper.link('Local Time', null, {'action' : 'setstatus', 'target' : 'time'})}} </div>
		<div class=item>{{:helper.link('Shuttle ETA', null, {'action' : 'setstatus', 'target' : 'shuttle'})}} </div>
		<div class=item>{{:helper.link('Message', null, {'action' : 'setstatus', 'target' : 'message'})}}
		<ul>
		<li><div class=item>Line 1: {{:helper.link(data.message_line1 ? data.message_line1 : '(none)', null, {'action' : 'setstatus', 'target' : 'line1'})}}</div></li>
		<li><div class=item>Line 2: {{:helper.link(data.message_line2 ? data.message_line2 : '(none)', null, {'action' : 'setstatus', 'target' : 'line2'})}}</div></li>
		</ul></div>
		<div class=item>Alert: {{:helper.link('Red Alert', null, {'action' : 'setstatus', 'target' : 'alert', 'alert' : 'redalert'})}}
		{{:helper.link('Lockdown', null, {'action' : 'setstatus', 'target' : 'alert', 'alert' : 'lockdown'})}}
		{{:helper.link('Biohazard', null, {'action' : 'setstatus', 'target' : 'alert', 'alert' : 'biohazard'})}} </div>
		{{:helper.link('Back', null, {'action' : 'sw_menu', 'target' : 1})}}
	{{else data.state === 5}}
		Current Alert level is {{:data.current_security_level_title}}
		{{if data.current_security_level === data.def_SEC_LEVEL_DELTA}}
			<div class=item><font color='red'><b>The self-destruct mechanism is active. Find a way to deactivate the mechanism to lower the alert level or evacuate.</b></font></div>
		{{else}}
			<div class=item>Set status: </div>
			<div class=item>{{:helper.link('Orange', null, {'action' : 'setalert', 'target' : data.def_SEC_LEVEL_ORANGE}, data.current_security_level === data.def_SEC_LEVEL_ORANGE || data.isAI ? 'disabled' : null)}} </div>
			<div class=item>{{:helper.link('Green', null, {'action' : 'setalert', 'target' : data.def_SEC_LEVEL_GREEN}, data.current_security_level === data.def_SEC_LEVEL_GREEN || data.isAI ? 'disabled' : null)}} </div>
		{{/if}}
		</br>
		<div class=item>{{:helper.link('Back', null, {'action' : 'sw_menu', 'target' : 1})}} </div>
	{{else}}
		Something went wrong. Please reset your console.
		<div class=item>{{:helper.link('Back', null, {'action' : 'sw_menu', 'target' : 1})}}</div>
	{{/if}}
{{else}}
	<big>You are unauthorised.</big>
{{/if}}