<div class="item">
	{{for data.categories}}
		{{:helper.link(value, null, {'category' : value}, value == data.cur_category ? 'selected' : null)}}
	{{empty}}
		There are no known designs
	{{/for}}
</div>
<br>
<div class='itemLabel'>
	{{for data.items}}
		<div class='item'>
			{{if data.cur_item}}
				{{:helper.link(value.name, null, {'item' : value.ref}, value.name == data.cur_item.name ? 'selected' : null)}}
			{{else}}
				{{:helper.link(value.name, null, {'item' : value.ref}, null)}}
			{{/if}}
		</div>
	{{/for}}
</div>
<div class='itemContent'>
	{{if data.cur_item}}
		<div class="itemLabelHeader">{{:data.cur_item.name}}</div></br>
		<div style="vertical-align:top; font-size:16px; margin-top:-8px; margin-right:10px; max-height:96px; height:96px; width:100%; margin-left:0px">
		<img style="float:left;" src= {{:data.cur_item.icon}} height=96 width=96>{{:data.cur_item.desc}}</div>
		</br>
		</br>
		</br>
		{{for data.cur_item.steps}}
			<div style ='height:32px;line-height:32px;'><img style="float:left;" src= {{:value.icon}} height=32 width=32>{{:value.desc}}</div>
		{{/for}}
		</br>
		{{:helper.link("Build", null, {'build' : data.cur_item.ref})}}
		{{if data.is_admin}}
			{{:helper.link("View variables", null, {'view_vars' : data.cur_item.ref})}}
		{{/if}}
		<br>
	{{else}}
		<h2>Nothing selected</h2>
	{{/if}}
</div>