{{if data.message}}
	<p>{{:helper.link('X', null, {'clear_message' : 1})}}{{:data.message}}</p>
{{/if}}
{{if data.name}}
	{{:helper.link('BACK', '', {'clear_active' : 1})}}<br><br>
	<div class='statusDisplay'>
		<div style="text-align: center">
			<h3>GENERIC INFORMATION</h3>
    		<div style="display: inline-block;">
    			<img src='front.png' width = 128px>
				<img src='side.png' width = 128px>
    		</div>
		</div>
		<div class='item'>
    		<div class='itemLabel'>&nbsp</div>
    		<div class='itemBody'>{{:helper.link('Edit Front', 'pencil', {'edit_photo_front' : 1})}}{{:helper.link('Edit Side', 'pencil', {'edit_photo_side' : 1})}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_name' : 1})}}Name:</div>
    		<div class='itemBody'>{{:data.name}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_sex' : 1})}}Sex:</div>
    		<div class='itemBody'>{{:data.sex}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_age' : 1})}}Age:</div>
    		<div class='itemBody'>{{:data.age}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_species' : 1})}}Species:</div>
    		<div class='itemBody'>{{:data.species}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_status' : 1})}}Status:</div>
    		<div class='itemBody'>{{:data.status}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_position' : 1})}}Position:</div>
    		<div class='itemBody'>{{:data.position}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_branch' : 1})}}Branch:</div>
    		<div class='itemBody'>{{:data.branch}}</div>
    	</div>
    	<div class='item'>
    		<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_rank' : 1})}}Rank:</div>
    		<div class='itemBody'>{{:data.rank}}</div>
    	</div>
	</div>
	{{if data.has_med}}
		<div class='statusDisplay'>
			<div style="text-align: center">
				<h3>MEDICAL RECORD</h3>
			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_bloodtype' : 1})}}Blood type:</div>
    				<div class='itemBody'>{{:data.bloodtype}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_medrecord' : 1})}}Details:</div>
    				<div class='itemBody'>{{:data.medrecord}}</div>
    			</div>
    		</div>
    	</div>
	{{/if}}
	{{if data.has_sec}}
		<div class='statusDisplay'>
			<div style="text-align: center">
				<h3>SECURITY RECORD</h3>
			</div>
				<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_criminalstatus' : 1})}}Status:</div>
    				<div class='itemBody'>{{:data.criminalstatus}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_dna' : 1})}}DNA:</div>
    				<div class='itemBody'>{{:data.dna}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_fingerprint' : 1})}}Fingerprint:</div>
    				<div class='itemBody'>{{:data.fingerprint}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_secrecord' : 1})}}Details:</div>
    				<div class='itemBody'>{{:data.secrecord}}</div>
    			</div>
    		</div>
    	</div>
	{{/if}}
	{{if data.has_empl}}
		<div class='statusDisplay'>
			<div style="text-align: center">
				<h3>EMPLOYMENT RECORD</h3>
			</div>
				<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_home_system' : 1})}}Home System:</div>
    				<div class='itemBody'>{{:data.home_system}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_citizenship' : 1})}}Citizenship:</div>
    				<div class='itemBody'>{{:data.citizenship}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_faction' : 1})}}Faction:</div>
    				<div class='itemBody'>{{:data.faction}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_religion' : 1})}}Religion:</div>
    				<div class='itemBody'>{{:data.religion}}</div>
    			</div>
    			<div class='item'>
    				<div class='itemLabel'>{{:helper.link('EDIT', 'pencil', {'edit_emplrecord' : 1})}}Details:</div>
    				<div class='itemBody'>{{:data.emplrecord}}</div>
    			</div>
    		</div>
    	</div>
	{{/if}}
	{{if data.has_antag}}
		<div class='statusDisplay'>
			<div style="text-align: center">
				<h3>ERROR - Cannot verify data source! Contact system administrator for assistance.</h3>
			</div>
				<div class='item'>
    				<div class='itemLabel'>Details:</div>
    				<div class='itemBody'>{{:data.antagrecord}}</div>
    			</div>
    		</div>
    	</div>
	{{/if}}
{{else}}
	{{:helper.link('New Record', 'new', {'new_record' : 1}, data.has_empl ? null : 'disabled')}}
	{{:helper.link('DNA Search', 'search', {'dna_search' : 1}, data.has_sec ? null : 'disabled')}}
	{{:helper.link('Fingerprint Search', 'search', {'fingerprint_search' : 1}, data.has_sec ? null : 'disabled')}}
	<br><br>
	<h2>Available records:</h2>
	<table style="width:100%">
	<tr><th style="width:60%">Name<th style="width:20%">Position<th style="width:20%">Rank
	{{for data.all_records}}
		<tr><td>{{:helper.link(value.name, '', {'set_active' : value.id})}}
		<td>{{:value.rank}}
		<td>{{:value.milrank}}
	{{/for}}
	</table>
{{/if}}