{{if data.message}}
<p>{{:helper.link('X', null, {'clear_message' : 1})}}{{:data.message}}</p>
{{/if}}
{{if data.uid}}
{{:helper.link('BACK', '', {'clear_active' : 1})}}{{:helper.link('PRINT', '', {'print_active' : 1})}}<br><br>
<div class='statusDisplay'>
	<div style="text-align: center">
		<h3>GENERIC INFORMATION</h3>
		<div style="display: inline-block;">
			<img src='front_{{:data.uid}}.png' width = 128px>
			<img src='side_{{:data.uid}}.png' width = 128px>
		</div>
	</div>
	{{if data.pic_edit}}
		<div class='item'>
			<div class='itemLabel'>&nbsp</div>
			<div class='itemBody'>{{:helper.link('Edit Front', 'pencil', {'edit_photo_front' : 1}, null)}}{{:helper.link('Edit Side', 'pencil', {'edit_photo_side' : 1}, null)}}</div>
		</div>
	{{/if}}
	{{for data.fields}}
		<div class='item'>
			{{if value.editable}}
				<div class='itemLabel'>{{:helper.link(value.name, 'pencil', {'edit_field' : value.key}, null)}}</div>
			{{else}}
				<div class='itemLabel'>{{:value.name}}:</div>
			{{/if}}
			<div class='itemBody'>{{:value.val}}</div>
		</div>
	{{/for}}
</div>
{{else}}
{{if data.creation}}
	{{:helper.link('New Record', 'document', {'new_record' : 1}, null)}}
{{/if}}
{{:helper.link('Name Search', 'search', {'search' : 'name'}, null)}}
{{if data.dnasearch}}
	{{:helper.link('DNA Search', 'search', {'search' : 'dna'}, null)}}
{{/if}}
{{if data.fingersearch}}
	{{:helper.link('Fingerprint Search', 'search', {'search' : 'fingerprint'}, null)}}
{{/if}}
<br><br>
<h2>Available records:</h2>
<table style="width:100%">
<tr><td style="width:40%">Name<th>Position<th>Rank
{{for data.all_records}}
	<tr class="candystripe"><td>{{:helper.link(value.name, '', {'set_active' : value.id})}}
	<td>{{:value.rank}}
	<td>{{:value.milrank}}
{{/for}}
</table>
{{/if}}