<!-- nano manifest
code/modules/mob/living/silicon/pai/software_modules.dm
code/modules/modular_computers/file_system/programs/generic/crew_manifest.dm

Copy-pasted from pda.tmpl
-->

<div class="item">
	{{:data.crew_manifest}}
</div>
