<div class="item">
  <div class="itemContent">
    {{:~link('Close', 'gear', {'close' : '1'}, null, 'fixedLeft')}}
  </div>
</div>

<div class="item">
  <h2>Environmental Conditions</h2>
</div>
<div class="item">
  <div class="itemLabel">
    Power:
  </div>
  <div class="itemContent">
    {{:~link('On', 'power', { 'power' : 1 }, !dish_inserted ? 'disabled' : on ? 'selected' : null)}}{{:~link('Off', 'close', { 'power' : 1 }, on ? null : 'selected')}}
  </div>
</div>
<div class='item'>
  {{:~link('Add Radiation', 'radiation', {'rad' : 1})}}
  {{:~link('Flush System', 'trash', {'flush' : 1}, system_in_use ? null : 'disabled')}}
</div>

<div class="statusDisplay" style="height: 100px; overflow: auto;">
  <div class='item'>
    <div class="itemLabel">
      <span class='good'>Virus Food:</span>
    </div>
    <div class="itemContent">
      {{:~displayBar(food_supply, 0, 100, 'good', food_supply)}}
    </div>
  </div>
  <div class='item'>
    <div class="itemLabel">
      <span class='good'>Radiation Level:</span>
    </div>
    <div class="itemContent">
      {{:~displayBar(radiation, 0, 100, radiation >= 50 ? 'bad' : growth >= 25 ? 'average' : 'good')}}
      <br/>
      {{:~formatNumber(radiation * 10000)}} <acronym title='In microSieverts'>&micro;Sv</acronym>
    </div>
  </div>
  <div class='item'>
    <div class="itemLabel">
      <span class='good'>Toxicity:</span>
    </div>
    <div class="itemContent">
      {{:~displayBar(toxins, 0, 100, toxins >= 50 ? 'bad' : toxins >= 25 ? 'average' : 'good', toxins + '%')}}
    </div>
  </div>
</div>

<div class="item">
  <h2>Chemicals</h2>
</div>
<div class='item'>
  {{:~link('Eject Chemicals', 'eject', { 'ejectchem' : 1 }, chemicals_inserted ? null : 'disabled')}}
  {{:~link('Breed Virus', 'circle-arrow-s', { 'virus' : 1 }, can_breed_virus ? null : 'disabled')}}
</div>

{{if chemicals_inserted}}
  <div class='item'>
    <div class='itemLabel'>
      Volume:
    </div>
    <div class='itemContent'>
      {{:~displayBar(chemical_volume, 0, max_chemical_volume, 'good', chemical_volume + ' / ' + max_chemical_volume)}}
    </div>
  </div>
  <div class='item'>
    <div class='itemLabel'>
      Breeding Environment:
    </div>
    <div class='itemContent'>
      <span class='{{:can_breed_virus ? "good" : "average"}}'>
        {{:!dish_inserted ? 'N/A' : can_breed_virus ? 'Suitable' : 'No hemolytic samples detected'}}
      </span>
      {{if blood_already_infected}}
        <br/>
        <span class='bad'><i>CAUTION: Viral infection detected in blood sample.</i></span>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class='item'>
    <span class='average'>No chemicals inserted.</span>
  </div>
{{/if}}

<div class="item">
  <h2>Virus Dish</h2>
</div>
<div class='item'>
  {{:~link('Eject Dish', 'eject', {'ejectdish' : 1}, dish_inserted ? null : 'disabled')}}
</div>

{{if dish_inserted}}
  {{if virus}}
  <div class="item">
    <div class="itemLabel">
      <b>Growth Density:</b>
    </div>
    <div class="itemContent">
      {{:~displayBar(growth, 0, 100, growth >= 50 ? 'good' : growth >= 25 ? 'average' : 'bad', growth + '%' )}}
    </div>
  </div>
  <div class='item'>
    <div class='itemLabel'>
      <b>Infection Rate:</b>
    </div>
    <div class='itemContent'>
      {{:analysed ? infection_rate : "Unknown"}}
    </div>
  </div>
  {{else}}
    <div class="item">
      <span class='average'>No virus detected.</span>
    </div>
  {{/if}}
{{else}}
  <div class="item">
    <span class='average'>No dish loaded.</span>
  </div>
{{/if}}
