<div class='item'>
		{{:helper.link('<b>Radius:</b>', 'gear', { 'radius' : 1})}}
		{{:data.radius}}<br><br>
		<div class='itemLabelNarrow'><b>Power Use:</b></div>
		<div class='itemContentNarrow'>{{:data.power}}w</div>
<br><hr><br>
</div>
	
			
	
	