<h3>Shuttle Status</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		{{:shuttle_status}}
	</div>
</div>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Bluespace Drive:
		</div>
		<div class="itemContent">
			{{if shuttle_state == "idle"}}
				<span class="idle">IDLE</span>
			{{else shuttle_state == "warmup"}}
				<span style="font-weight: bold;color: #336699">SPINNING UP</span>
			{{else shuttle_state == "in_transit"}}
				<span style="font-weight: bold;color: #336699">ENGAGED</span>
			{{else}}
				<span class="bad">ERROR</span>
			{{/if}}
		</div>
	</div>
</div>
{{if has_docking}}
	<div class="item" style="padding-top: 10px">
		<div class="item">
			<div class="itemLabel">
				Docking Status:
			</div>
			<div class="itemContent">
				{{if docking_status == "docked"}}
					<span class="good">DOCKED</span>
				{{else docking_status == "docking"}}
					{{if !docking_override}}
						<span class="average">DOCKING</span>
					{{else}}
						<span class="average">DOCKING-MANUAL</span>
					{{/if}}
				{{else docking_status == "undocking"}}
					{{if !docking_override}}
						<span class="average">UNDOCKING</span>
					{{else}}
						<span class="average">UNDOCKING-MANUAL</span>
					{{/if}}
				{{else docking_status == "undocked"}}
					<span class="idle">UNDOCKED</span>
				{{else}}
					<span class="bad">ERROR</span>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}
<h3>Shuttle Authorization</h3>
<div class="item">
	<div class="item">
		{{if has_auth}}
			Access Granted. Shuttle controls unlocked.
		{{else}}
			Additional authorization required.
		{{/if}}
	</div>
</div>
<div class="item" style="padding-top: 10px">
	{{for auth_list}}
		{{if auth_hash}}
			{{:~link(auth_name, 'eject', {'removeid' : auth_hash}, null, 'itemContentWide')}}
		{{else}}
			{{:~link("", 'eject', {'scanid' : 1}, null, 'itemContentWide')}}
		{{/if}}
	{{/for}}
</div>

<h3>Shuttle Control</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemContent" style="padding-top: 2px; width: 100%">
			{{:~link('Launch Shuttle', 'arrowthickstop-1-e', {'move' : '1'}, can_launch? null : 'disabled' , null)}}
			{{:~link('Cancel Launch', 'cancel', {'cancel' : '1'}, can_cancel? null : 'disabled' , null)}}
			{{:~link('Force Launch', 'alert', {'force' : '1'}, can_force? null : 'disabled' , can_force? 'redBackground' : null)}}
		</div>
	</div>
</div>