	<div class="item">
        <div class="itemLabel">
            <b>Player Name</b>:
        </div>
        <div class="itemContent">
            {{:data.myName}}
        </div>
    </div>


	<br>
<iframe src="http://www.flappybeak.com/flappy.swf"height = "572" width = "800"></iframe><br>
<a href="http://www.flappybeak.com/">http://www.flappybeak.com </a> powered by <a href="http://www.247games.org">247games.org</a>"