<div class="item">
	<div class="itemLabel">
		Status:
	</div>
	<div class="itemContent">		
		{{:helper.link('On', 'power', {'toggleStatus' : 1}, on ? 'selected' : null)}}{{:helper.link('Off', 'close', {'toggleStatus' : 1}, on ? null : 'selected')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Gas Pressure:
	</div>
	<div class="itemContent">		
		{{:data.gasPressure}} kPa
	</div>
</div>

<h3>Gas Temperature</h3>
<div class="item">
	<div class="itemLabel">
		Current:
	</div>
	<div class="itemContent">		
		{{:helper.displayBar(gasTemperature, minGasTemperature, maxGasTemperature, gasTemperatureClass)}}
		<div class="statusValue">
			<span class="{{:data.gasTemperatureClass}}">{{:data.gasTemperature}} K</span>
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Target:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(targetGasTemperature, minGasTemperature, maxGasTemperature)}}			
		<div style="clear: both; padding-top: 4px;">
			{{:helper.link('-', null, {'temp' : -100}, (targetGasTemperature > minGasTemperature) ? null : 'disabled')}}
			{{:helper.link('-', null, {'temp' : -10}, (targetGasTemperature > minGasTemperature) ? null : 'disabled')}}
			{{:helper.link('-', null, {'temp' : -1}, (targetGasTemperature > minGasTemperature) ? null : 'disabled')}}				
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.targetGasTemperature}} K&nbsp;</div>
			{{:helper.link('+', null, {'temp' : 1}, (targetGasTemperature < maxGasTemperature) ? null : 'disabled')}}
			{{:helper.link('+', null, {'temp' : 10}, (targetGasTemperature < maxGasTemperature) ? null : 'disabled')}}
			{{:helper.link('+', null, {'temp' : 100}, (targetGasTemperature < maxGasTemperature) ? null : 'disabled')}}	
		</div>
	</div>
</div>

