<div class="item">
	<div class="itemLabel">
		Status:
	</div>
	<div class="itemContent">		
		{{:~link('On', 'power', {'toggleStatus' : 1}, on ? 'selected' : null)}}{{:~link('Off', 'close', {'toggleStatus' : 1}, on ? null : 'selected')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Gas Pressure:
	</div>
	<div class="itemContent">		
		{{:gasPressure}} kPa
	</div>
</div>

<h3>Gas Temperature</h3>
<div class="item">
	<div class="itemLabel">
		Current:
	</div>
	<div class="itemContent">		
		{{:~displayBar(gasTemperature, minGasTemperature, maxGasTemperature, gasTemperatureClass)}}
		<div class="statusValue">
			<span class="{{:gasTemperatureClass}}">{{:gasTemperature}} K</span>
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Target:
	</div>
	<div class="itemContent">
		{{:~displayBar(targetGasTemperature, minGasTemperature, maxGasTemperature)}}			
		<div style="clear: both; padding-top: 4px;">
			{{:~link('-', null, {'temp' : -100}, (targetGasTemperature > minGasTemperature) ? null : 'disabled')}}
			{{:~link('-', null, {'temp' : -10}, (targetGasTemperature > minGasTemperature) ? null : 'disabled')}}
			{{:~link('-', null, {'temp' : -1}, (targetGasTemperature > minGasTemperature) ? null : 'disabled')}}				
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:targetGasTemperature}} K&nbsp;</div>
			{{:~link('+', null, {'temp' : 1}, (targetGasTemperature < maxGasTemperature) ? null : 'disabled')}}
			{{:~link('+', null, {'temp' : 10}, (targetGasTemperature < maxGasTemperature) ? null : 'disabled')}}
			{{:~link('+', null, {'temp' : 100}, (targetGasTemperature < maxGasTemperature) ? null : 'disabled')}}	
		</div>
	</div>
</div>

