<div class="item">
	<div class="itemLabel">
		Power:
	</div>
	<div class="itemContent">
		{{:~link(on? 'On' : 'Off', null, {'power' : 1})}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Desirable output pressure:
	</div>
	<div class="itemContent">
		{{:~displayBar(pressure_set, 0, max_pressure)}}
		<div style="clear: both; padding-top: 4px;">
			{{:~link('MIN', null, {'set_press' : 'min'}, (pressure_set > 0) ? null : 'disabled')}}
			{{:~link('SET', null, {'set_press' : 'set'}, null)}}			
			{{:~link('MAX', null, {'set_press' : 'max'}, (pressure_set < max_pressure) ? null : 'disabled')}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:pressure_set}} kPa&nbsp;</div>
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Load:
	</div>
	<div class="itemContent">
		{{:~displayBar(last_power_draw, 0, max_power_draw, (last_power_draw < max_power_draw - 5) ? 'good' : 'average')}}
		<div class="statusValue">
			{{:last_power_draw}} W
		</div>
	</div>
</div>