<!-- 
Title: Integrated Hardsuit Controller
Used In File(s): /code/modules/clothing/spacesuits/rig/rig.dm
 -->

<style type="text/css">
	.inlineBlock {
		padding: 2px; 
		display: inline-block;
	}
	.extraTopPadding {
		padding-top: 10px;
	}
	.floatLeft {
		float: left;
		margin-left: 5px;
	}
	.paddedBorderBlue {
		border: 1px solid #517087; 
		padding: 2px;
	}
	.redText {
		color: red;
	}
	.orangeText {
		color: orange;
	}
	.greenText {
		color: green;
	}
	.boldText {
		font-weight: bold;
	}
	.textSpanCenter {
		width: 100%;
		text-align: center;
	}
	<!-- display bar override -->
	.displayBar {
		width: 200px;
	}
</style>

{{if data.interfacelock || data.malf > 0}}
	<div class='redText boldText textSpanCenter'>-- HARDSUIT INTERFACE OFFLINE --</div>
{{else}}
	{{if data.aicontrol && data.ai != 1}}
		<div class='redText boldText textSpanCenter'>-- HARDSUIT CONTROL OVERRIDDEN BY AI --</div>
	{{else}}
		<div>
			<div class='inlineBlock extraTopPadding'>
				<div class='fixedLeft boldText'>
					Power supply
				</div>
				<div>
					{{:helper.displayBar(data.chargestatus, 0, 50, (data.chargestatus >= 35) ? 'good' : (data.chargestatus >= 15) ? 'average' : 'bad')}} {{:data.charge}}/{{:data.maxcharge}}
				</div>
			</div>
			<div>
				<div class='inlineBlock extraTopPadding'>
					<div class='fixedLeft boldText'>
						AI control:
					</div>
					<div class='fixedLeftWider'>
						{{if data.aioverride}}
							<div class='greenText boldText'>ENABLED</div>
						{{else}}
							<div class='redText boldText'>DISABLED</div>
						{{/if}}
					</div>
					<div class='fixedLeft'>
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_ai_control' : 1}, null)}}
					</div>
				</div>
				<div class='inlineBlock'>
					<div class='fixedLeft boldText'>
						Suit status:
					</div>
					<div class='fixedLeftWider'>
						{{if data.sealing == 1}}
							<div class='orangeText boldText'>PROCESSING</div>
						{{else}}
							{{if data.seals == 1}}
								<div class='redText boldText'>INACTIVE</div>
							{{else}}
								<div class='greenText boldText'>ACTIVE</div>
							{{/if}}
						{{/if}}
					</div>
					<div class='fixedLeft'>
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_seals' : 1}, null)}}
					</div>
				</div>
				<div class='inlineBlock'>
					<div class='fixedLeft boldText'>
						Cover status:
					</div>
					<div class='fixedLeftWider'>
						{{if data.emagged || !data.securitycheck}}
							<div class='orangeText boldText'>ERROR - MAINTENANCE LOCK CONTROL OFFLINE</div>
						{{else}}
							{{if data.coverlock}}
								<div class='redText boldText'>LOCKED</div>
							{{else}}
								<div class='greenText boldText'>UNLOCKED</div>
							{{/if}}
						{{/if}}
					</div>
					<div class='fixedLeft'>
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_suit_lock' : 1}, null)}}
					</div>
				</div>
			</div>
		</div>

		<h2>Suit pieces</h2>

		<div>
			<div class='inlineBlock'>
				<div class='fixedLeft boldText'>
					Helmet:
				</div>
				<div class='fixedLeftWider'>
					{{:helper.capitalizeFirstLetter(data.helmet)}}
				</div>
				{{if data.sealing != 1}}
					<div class='fixedLeft'>
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'helmet'}, null)}}
					</div>
				{{/if}}
			</div>
			<div class='inlineBlock'>
				<div class='fixedLeft boldText'>
					Gauntlets:
				</div>
				<div class='fixedLeftWider'>
					{{:helper.capitalizeFirstLetter(data.gauntlets)}}
				</div>
			</div>
			<div class='inlineBlock'>
				<div class='fixedLeft boldText'>
					Boots:
				</div>
				<div class='fixedLeftWider'>
					{{:helper.capitalizeFirstLetter(data.boots)}}
				</div>
			</div>
			<div class='inlineBlock'>
				<div class='fixedLeft boldText'>
					Chestpiece:
				</div>
				<div class='fixedLeftWider'>
					{{:helper.capitalizeFirstLetter(data.chest)}}
				</div>
			</div>
		</div>

		<h2>Life support system</h2>
		{{if data.seals == 1 || data.sealing == 1}}
			<h3><div class = 'bad'>HARDSUIT SYSTEMS OFFLINE</div></h3>
		{{else data.tank == 0}}
			<h3><div class = 'bad'>INTERNAL TANK NOT FOUND</div></h3>
		{{else}}
			<div class='inlineBlock extraTopPadding'>
				<div class='fixedLeft boldText'>
					Tank Pressure:
				</div>
				<div>
					{{:helper.displayBar(data.tankPressure, 0, 1013, (data.tankPressure > 200) ? 'good' : ((data.tankPressure > 100) ? 'average' : 'bad'))}}
					<div class="statusValue">
						{{:data.tankPressure}} kPa
					</div>
				</div>
				<div class='fixedLeft boldText'>
					Release Pressure:
				</div>
				<div class="itemContent">
					{{:helper.displayBar(data.releasePressure, 0, data.maxReleasePressure, (data.releasePressure >= 21) ? null : ((data.releasePressure >= 17) ? 'average' : 'bad'))}}
					<div style="clear: both; padding-top: 4px;">
						{{:helper.link('-', null, {'air_supply' : 1, 'dist_p' : -10}, (data.releasePressure > 0) ? null : 'disabled')}}
						{{:helper.link('-', null, {'air_supply' : 1, 'dist_p' : -1}, (data.releasePressure > 0) ? null : 'disabled')}}
						<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.releasePressure}} kPa&nbsp;</div>
						{{:helper.link('+', null, {'air_supply' : 1, 'dist_p' : 1}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
						{{:helper.link('+', null, {'air_supply' : 1, 'dist_p' : 10}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
						{{:helper.link('Max', null, {'air_supply' : 1, 'dist_p' : 'max'}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
						{{:helper.link('Reset', null, {'air_supply' : 1, 'dist_p' : 'reset'}, (data.releasePressure != data.defaultReleasePressure) ? null : 'disabled')}}
					</div>
				</div>
				<div class='fixedLeft boldText'>
					Release Valve:
				</div>
				<div class="itemContent">
					{{:helper.link('Open', 'unlocked', {'air_supply' : 1, 'stat' : 1}, (!data.maskConnected) ? 'disabled' : (data.valveOpen ? 'selected' : null))}}
					{{:helper.link('Close', 'locked', {'air_supply' : 1, 'stat' : 1}, data.valveOpen ? null : 'selected')}}
				</div>
			</div>
		{{/if}}

		<h2>System modules</h2>
		{{if data.seals == 1 || data.sealing == 1}}
			<h3><div class = 'bad'>HARDSUIT SYSTEMS OFFLINE</div></h3>
		{{else}}
			<h3>Selected primary system: 
				{{if data.primarysystem}}
					{{:helper.capitalizeFirstLetter(data.primarysystem)}}
				{{else}}
					None
				{{/if}}
			</h3>
			{{if data.modules}}
				<div>
					{{for data.modules}}
						<div class='inlineBlock'>
							<div class='paddedBorderBlue floatLeft' style='width: 420px'>
								<div class='floatLeft' style='width: 100%'>
									<div class='average floatLeft'>{{:helper.capitalizeFirstLetter(value.name)}}</div>
									{{if value.damage > 0}}
										<div class='floatLeft'>
											{{if value.damage == 1}}
												<div>(<font class='orangeText'>damaged</font>)</div>
											{{else}}
												<div>(<font class='redText'>destroyed</font>)</div>
											{{/if}}
										</div>
									{{/if}}
									<div class='floatLeft' style='width: 100%; clear: left'>
										<div class='caption floatLeft average' style='width: 20%; margin: 0'>
												Engage: {{:value.engagecost}} 
												Activate: {{:value.activecost}} 
												Passive: {{:value.passivecost}} 
										</div>
										<div class='caption floatLeft' style='width: 25%; margin: 0'>
												{{:value.desc}}
										</div>
										<div class='floatLeft' style='width: 48%'>
											{{if value.can_use == 1}}
												<div class='inlineBlock'>
													{{:helper.link(value.engagestring, 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'engage'}, null)}}
												</div>
											{{/if}}
											{{if value.can_select == 1}}
												<div class='inlineBlock'>
													{{:helper.link('Select', 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'select'}, null, (value.name == data.primarysystem) ? 'linkOn' : null)}}
												</div>
											{{/if}}
											{{if value.can_toggle == 1}}
												<div class='inlineBlock'>
													{{if value.is_active == 1}}
														{{:helper.link(value.deactivatestring, 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'deactivate'}, null, 'linkOn')}}
													{{else}}
														{{:helper.link(value.activatestring, 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'activate'}, null)}}
													{{/if}}
												</div>
											{{/if}}
										</div>
									</div>
								</div>
								<div class='floatLeft' style='clear: left; margin-left: 10px; width: 100%'>
									{{if value.charges}}
										<div class='average boldText'>Stored charges</div>
										{{for value.charges :itemValue:itemIndex}}
											<div class='floatLeft' style='padding: 2px 0px'>
												{{:helper.link(helper.capitalizeFirstLetter(itemValue.caption), null, {'interact_module' : value.index, 'module_mode' : 'select_charge_type', 'charge_type' : itemValue.index}, (itemValue.index == value.chargetype) ? 'selected' : null)}}
											</div>
										{{/for}}
									{{/if}}
								</div>
							</div>
						</div>
					{{/for}}
				</div>
			{{else}}
				None.
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}