<!-- 
Title: Integrated Hardsuit Controller
Used In File(s): /code/modules/clothing/spacesuits/rig/rig.dm
 -->

{{if data.interfacelock || data.malf > 0}}
	<font color='red' align='center'><strong>-- HARDSUIT INTERFACE OFFLINE --</strong></font>
{{else}}
	{{if data.aicontrol && data.ai != 1}}
		<font color='red' align='center'><strong>-- HARDSUIT CONTROL OVERRIDDEN BY AI --</strong></font>
	{{else}}
		<table align = 'center'>
			<tr>
				<td>
					<strong>Power supply</strong> 
				</td>
				<td colspan = 2>
					{{:helper.displayBar(data.chargestatus, 0, 50, (data.chargestatus >= 35) ? 'good' : (data.chargestatus >= 15) ? 'average' : 'bad')}} {{:data.charge}}/{{:data.maxcharge}}
				</td>
			</tr>
			<tr>
				<td>
					<strong>AI control:</strong>
				</td>
				<td>
					{{if data.aioverride}}
						<font color = 'green'><strong>ENABLED</strong></font>
					{{else}}
						<font color = 'red'><strong>DISABLED</strong></font>
					{{/if}}
				</td>
				<td>
					{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_ai_control' : 1}, null)}}
				</td>
			</tr>
			<tr>
				<td width = '150px'>
					<b>Suit status:</b>
				</td>
				<td width>
					{{if data.sealing == 1}}
						<font color = 'orange'><strong>SEALING</strong></font>
					{{else}}
						{{if data.seals == 1}}
							<font color = 'red'><strong>OPEN</strong></font>
						{{else}}
							<font color = 'green'><strong>SEALED</strong></font>
						{{/if}}
					{{/if}}
				</td>
				<td width>
					{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_seals' : 1}, null)}}
				</td>
			</tr>
			<tr> 
				<td>
					<strong>Cover status:</strong>
				</td>
				<td>
					{{if data.emagged || !data.securitycheck}}
						<font color = 'orange'><strong>ERROR</strong></font>
					{{else}}
						{{if data.coverlock}}
							<font color = 'red'><strong>LOCKED</strong></font>
						{{else}}
							<font color = 'green'><strong>UNLOCKED</strong></font>
						{{/if}}
					{{/if}}
				</td>
				<td>
					{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_suit_lock' : 1}, null)}}
				</td>
			</tr>
		</table>

		<h2>Hardware</h2>
		<h3>Suit pieces</h3>

		<table align = 'center'>
			<tr>
				<td width = '150px'>
					<b>Helmet:</b> 
				</td>
				<td width = '150px'>
					{{:data.helmet}}</br>
				</td>
				<td width = '150px'>
					{{if data.sealing != 1}}
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'helmet'}, null)}}</br>
					{{/if}}
				</td>
			</tr>
			<tr>
				<td>
					<b>Gauntlets:</b> 
				</td>
				<td>
					{{:data.gauntlets}}</br>
				</td>
				<td>
					{{if data.sealing != 1}}
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'gauntlets'}, null)}}</br>
					{{/if}}
				</td>
			</tr>
			<tr>
				<td>
					<b>Boots:</b> 
				</td>
				<td>
					{{:data.boots}}</br>
				</td>
				<td>
					{{if data.sealing != 1}}
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'boots'}, null)}}</br>
					{{/if}}
				</td>
			</tr>
			<tr>
				<td>
					<b>Chestpiece:</b> 
				</td>
				<td>
					{{:data.chest}}</br>
				</td>
				<td>
					{{if data.sealing != 1}}
						{{:helper.link('Toggle', 'circle-arrow-s', {'toggle_piece' : 'chest'}, null)}}</br>
					{{/if}}
				</td>
			</tr>
		</table>

		<h2>System modules</h2>
		{{if data.seals == 1 || data.sealing == 1}}
			<h3><div class = 'bad'>HARDSUIT SYSTEMS OFFLINE.</div></h3>
		{{else}}
			<font align = 'center'><h3>Selected primary system: 
				{{if data.primarysystem}}
					{{:data.primarysystem}}
				{{else}}
					None.
				{{/if}}
			</h3></font>
			{{if data.modules}}
				<table align = 'center'>
					{{for data.modules}}
						<tr>
							<td width = '60%'>
								<div class='average'>
									<strong>{{:value.name}}</strong> 
									{{if value.damage > 0}}
										{{if value.damage == 1}}
											(<font color='orange'>damaged</font>) 
										{{else}}
											(<font color='red'>destroyed</font>) 
										{{/if}}
									{{/if}}
									[E: {{:value.engagecost}} | A: {{:value.activecost}} | P: {{:value.passivecost}}]
								</div>
							</td>
						</tr>
						<tr>
							<td align = 'left'>
								<div class = 'caption'>{{:value.desc}}</div>
							</td>
							<td colspan = 3 align = 'center'>
									{{if value.can_use == 1}}
										<div class='itemContent'>
											{{:helper.link(value.engagestring, 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'engage'}, null)}}
										</div>
									{{/if}}
									{{if value.can_select == 1}}
										<div class='itemContent'>
											{{if value.name == data.primarysystem}}
												<div class ='good'><strong>SELECTED</strong></div>
											{{else}}
												{{:helper.link('Select', 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'select'}, null)}}
											{{/if}}
										</div>
									{{/if}}
									{{if value.can_toggle == 1}}
										<div class='itemContent'>
											{{if value.is_active == 1}}
												{{:helper.link(value.deactivatestring, 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'deactivate'}, null)}}
											{{else}}
												{{:helper.link(value.activatestring, 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'activate'}, null)}}
											{{/if}}
										</div>
									{{/if}}
								</div>
							</td>
						</tr>
						{{if value.charges}}
							<tr>
								<td>
									<div class='average'>
										<strong>Stored charges</strong><br/>
									</div>
									<strong>Selected:</strong> {{:value.chargetype}}
								</td>
								<td colspan = 3>
									<div class = 'itemContent'>
										{{for value.charges :itemValue:itemIndex}}
											{{:helper.link(itemValue.caption, 'circle-arrow-s', {'interact_module' : value.index, 'module_mode' : 'select_charge_type', 'charge_type' : itemValue.index}, null)}}</br>
										{{/for}}
									</div>
								</td>
							</tr>
						{{/if}}
						<tr>
							<td colspan = 4><hr/></td>
						</tr>
					{{/for}}
				</table>
			{{else}}
				None.
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}