<H3><span class="white">Current track:</span> <span class="average">{{:data.track}}</span></H3>
<div>
    {{:helper.link('Play', 'play', {'act': 'play'}, data.playing ?  'disabled' : null, null)}}
    {{:helper.link('Stop', 'stop', {'act': 'stop'}, !data.playing ? 'disabled' : null, null)}}
</div>

<H3><span class="white">Volume Level:</span></H3>
{{:helper.displayBar(data.volume, 0, 50, 'average')}}
<div class="itemContent">
    {{:helper.link('0',   null, {'act': 'volume', 'dat': 0},  data.volume == 0 ?  'disabled' : null, null)}}
    {{:helper.link('1',  null, {'act': 'volume', 'dat': 10}, data.volume == 10 ? 'disabled' : null, null)}}
    {{:helper.link('2',  null, {'act': 'volume', 'dat': 20}, data.volume == 20 ? 'disabled' : null, null)}}
    {{:helper.link('3',  null, {'act': 'volume', 'dat': 30}, data.volume == 30 ? 'disabled' : null, null)}}
    {{:helper.link('4',  null, {'act': 'volume', 'dat': 40}, data.volume == 40 ? 'disabled' : null, null)}}
    {{:helper.link('5', null, {'act': 'volume', 'dat': 50}, data.volume == 50 ? 'disabled' : null, null)}}
</div>

<H3><span class="white">Available tracks:</span></H3>
<div class="itemContent">
    {{for data.tracks}}
        <div class="item">
            {{:helper.link(value.track, 'gear', {'act': 'track', 'dat': value.index}, value.track == data.track ? 'disabled' : null, null)}}    
        </div>
    {{/for}}
</div>
