{{if data.PC_hasheader}}
	<div style="float: left">
		<div class='item'>
			<table><tr>
			{{if data.PC_batteryicon}}
				<td><img src='{{:data.PC_batteryicon}}'>
			{{/if}}
			{{if data.PC_batterypercent}}
				<td><b>{{:data.PC_batterypercent}}</b>
			{{/if}}
			{{if data.PC_ntneticon}}
				<td><img src='{{:data.PC_ntneticon}}'>
			{{/if}}
			{{if data.PC_apclinkicon}}
				<td><img src='{{:data.PC_apclinkicon}}'>
			{{/if}}
			{{if data.PC_stationtime}}
				<td><b>{{:data.PC_stationtime}}<b>
			{{/if}}
			</table>
		</div>
	</div>
	<div style="float: right">
		<table><tr>
			<td>{{:helper.link('Shutdown', 'icon-power', {'PC_shutdown' : 1})}}
		</table>
	</div>
	<div style="clear: both">
<hr>
{{/if}}
<i>No program loaded. Please select program from list below.</i>
{{for data.programs}}
	{{:helper.link(value.desc, 'icon-power', {'PC_runprogram' : value.name})}}
{{/for}}