{{if data.PC_hasheader}}
	<div style="float: left">
		<div class='item'>
			<table><tr>
			{{if data.PC_batteryicon && data.PC_showbatteryicon}}
				<td><img width='40px' height='22px' src='{{:data.PC_batteryicon}}'></td>
			{{/if}}
			{{if data.PC_batterypercent && data.PC_showbatteryicon}}
				<td><b>{{:data.PC_batterypercent}}</b></td>
			{{/if}}
			{{if data.PC_ntneticon}}
				<td><img width='40px' height='22px' src='{{:data.PC_ntneticon}}'></td>
			{{/if}}
			{{if data.PC_apclinkicon}}
				<td><img width='40px' height='22px' src='{{:data.PC_apclinkicon}}'></td>
			{{/if}}
			{{if data.PC_stationtime}}
				<td><b>{{:data.PC_stationtime}}<b></td>
			{{/if}}
			{{for data.PC_programheaders}}
				<td><img src='{{:value.icon}}'></td>
			{{/for}}
			</tr></table>
		</div>
	</div>
	<div style="float: right">
		<table><tr>
			{{if data.PC_showshutdown}}
				<td>{{:helper.link('Shutdown', null, {'PC_shutdown' : 1})}}</td>
			{{/if}}
			{{if data.PC_showexitprogram}}
				<td>{{:helper.link('Exit Program', null, {'PC_exit' : data.PC_activeprogram})}}</td>
				<td>{{:helper.link('Minimize Program', null, {'PC_minimize' : data.PC_activeprogram})}}</td>
			{{/if}}
		</tr></table>
	</div>
	<div style="clear: both">
{{/if}}
