<div id='uiTitleWrapper'><div id='uiStatusIcon' class='icon24 uiStatusGood'></div><div id='uiTitleText'>{{:config.title}}</div><div id='uiTitleFluff'></div></div>
<div id='uiMapWrapper' class="hidden">
    <div id='uiMapHeader'>
        {{:helper.link('Hide Map', 'close', {'showMap' : 0})}}
        <!-- Add a template with the key "mapHeader" to have it rendered here -->
    </div>
    <div id='uiMapContainer'>
        <div id='uiMap'>
            <img id="uiMapImage" src="nanomap.png" width="2048" height="2048" />
            <div id='uiMapContent'>
                <!-- Add a template with the key "mapContent" to have it rendered here (on the map) -->
                <!-- Having a "mapContent" template enables the map functionality -->
            </div>
        </div>
    </div>
    <div id='uiMapFooter'>
        <!-- Add a template with the key "mapFooter" to have it rendered here -->
    </div>
</div>
<div id='uiContent'>
	<div id='uiLoadingNotice'>Initiating...</div>
</div>