	<div class="item">
        <div class="itemLabel">
            <b>Player Name</b>:
        </div>
        <div class="itemContent">
            {{:data.myName}}
        </div>
    </div>


	<br>
	<iframe src="http://www.247mahjong.com/mahjong.swf"height = "572" width = "800"></iframe><br>
	<a href="http://www.247mahjong.com/">24/7 mahjong </a> powered by <a href="http://www.247games.org">247games.org</a>"
	<br><b>Selecting the levels button will not work properly use at your own risk!</b>