<h3>Subsystems</h3>
	<div class="item">
		<div class="itemLabel">
			Recharge Station:
		</div>
		<div class="itemContent">
			{{if data.has_floor}}
				<span class='good'>OK</span>
			{{else}}
				<span class='bad'>ERROR</span>
			{{/if}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Power Port:
		</div>
		<div class="itemContent">
			{{if data.has_port}}
				<span class='good'>OK</span>
			{{else}}
				<span class='bad'>ERROR</span>
			{{/if}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Mecha:
		</div>
		<div class="itemContent">
			{{if data.has_mech}}
				<span class='good'>LOCATED ({{:data.mecha_name}})</span>
			{{else}}
				<span class='average'>NONE</span>
			{{/if}}
		</div>
	</div>
{{if data.has_mech}}
	<h3>Charging</h3>
		<div class="item">
			<div class="itemLabel">
				Charge Level:
			</div>
			<div class="itemContent">
				{{:helper.displayBar(data.mecha_charge_percentage, 0, 100)}}
					<div class="statusValue">
						{{:data.mecha_charge_percentage}}%<br>
					</div>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Cell Rating:
			</div>
			<div class="itemContent">
				{{:data.mecha_maxcharge}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Cell Charge:
			</div>
			<div class="itemContent">
				{{:data.mecha_charge}}
			</div>
		</div>
{{/if}}