{{if data.temp }}
	<center>
	<table>
	<tr><td>{{:data.temp }}</td>
	<tr><td>{{:helper.link('Continue', null, {'PRG_continue' : 1})}}</td>
	</table>
	</center>
{{else}}
	{{if data.mode}}
		<div>
			<div style="float: left">{{:helper.link('<=', null, {'PRG_scroll' : 'left'})}}</div>
			<div>{{:helper.link('Main Menu', null, {'PRG_main_menu' : 1})}}</div>
			<div style="float: right">{{:helper.link('=>', null, {'PRG_scroll' : 'right'})}}</div>
		</div>
		<center><h3>{{:data.traderName}}</h3><br>
		Signal Origin: {{:data.origin}}<br>
		{{if data.last_comms}}
			<i>{{:data.last_comms}}</i>
		{{/if}}
		</center>
		<br>
		{{if data.hailed}}
			{{if data.trades}}
				{{:helper.link('Go Back', null, {'PRG_show_trades' : 1})}}
				<br><br>
				<h3>Trade Goods</h3>
				<table>
				{{for data.trades}}
					<tr><td>{{:value}}</td>
					<td>{{:helper.link('Trade', null, {'PRG_offer_item' : index})}}</td>
					<td>{{:helper.link('Ask Cost', null, {'PRG_how_much_do_you_want' : index})}}</td>
				{{/for}}
				</table>
			{{else}}
				{{:helper.link('List Goods', null, {'PRG_show_trades' : 1})}}
				<br><br>
				{{:helper.link('Compliment', null, {'PRG_compliment' : 1})}}<br><br>
				{{:helper.link('Insult', null, {'PRG_insult' : 1})}}<br><br>
			{{/if}}
		{{else}}
			{{:helper.link('Hail',null,{'PRG_hail': 1})}}
		{{/if}}
	{{else}}
		<center>
		<h2>Main Menu</h2>
		<table style="text-align:center">
		<tr><td>{{:helper.link('Open Communications', null, {'PRG_merchant_list' : 1})}}</td>
		<tr><td>{{:helper.link('Test Fire Transporter', null, {'PRG_test_fire': 1 })}}</td>
		<tr><td>{{:helper.link('Connect Pad', null, {'PRG_connect_pad' : 1})}}
		{{if data.pad}}
			<font color="green">Connected</font>
		{{else}}
			<font color="red">DISCONNECTED</font>
		{{/if}}
		</td>
		</table>
		</center>
	{{/if}}
{{/if}}