<h3>Navigation</h3>
<div class='block'>
	<div class='item'>
		<div class="itemContent">
			<div class='item'>
				<span class='white'>Map view</span>
				{{:helper.link(data.viewing ? 'Engaged' : 'Disengaged', 'shuffle', { 'viewing' : 1 }, null, data.viewing ? 'selected' : null)}}
			</div>
		</div>
	</div>
</div>
<div style="float:left;width:50%">
	<h3>Sector information</h3> 
	<div class='block'>
		{{:data.sector}}
		<br>
		<span class='average'>Coordinates:</span> {{:data.s_x}} : {{:data.s_y}}
		<br>
		<span class='average'>Additional information:</span> {{:data.sector_info}}
	</div>
</div>

<div style="float:right;width:50%">
	<h3>Flight data</h3> 
	<div class='block'>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>ETA to next grid:</span>
			</div>
			<div style="float:right">
				{{:data.ETAnext}}
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Speed:</span>
			</div>
			<div style="float:right">
				{{:data.speed}} Gm/h
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Acceleration:</span>
			</div>
			<div style="float:right">
				{{:data.accel}} Gm/h
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Heading:</span>
			</div>
			<div style="float:right">
				{{:data.heading}}&deg;
			</div>
		</div> 
	</div>
</div>