	<div class="item">
        <div class="itemLabel">
            <b>Player Name</b>:
        </div>
        <div class="itemContent">
            {{:data.myName}}
        </div>
    </div>


	<br>

<iframe src="http://flashcdn.iminlikewithyou.com/Main.swf?av=1157"height = "572" width = "800"></iframe><br>
<a href=www.omgpop.com">OMGPOP.com </a> powered by <a href="https://zynga.com">Zynga Games</a>"
<br><b><font color = red>WARNING ALL GAMES ON OMGPOP HAVE NOT BEEN TESTED TO WORK WITHIN NANOUI!<BR>ALSO ALOT OF STUFF DOESN'T WORK DUE TO OMGPOP WEBSITE GOING DOWN.</font></b>