
<fieldset style="background-color: #202020;border-color: rgb(117, 117, 117);">
	<legend style="text-align:center">Controls</legend>
	<div class='item'>
		<div class="itemLabel">
			Power
		</div>
		<div class="itemContent">
			{{:helper.link(data.on ? 'On' : 'Off', 'power', { 'toggle' : 1 }, data.status != 'MISSING' ? null : 'disabled', data.on ? 'selected' : null)}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			Range
		</div>
		<div class="itemContent">
			{{:helper.link(data.range, null, { 'range' : 1 }, null, null)}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			Sector map view
		</div>
		<div class="itemContent">
			{{:helper.link(data.viewing ? 'Engaged' : 'Disengaged', 'shuffle', { 'viewing' : 1 }, null, data.viewing ? 'selected' : null)}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			Contact readout
		</div>
		<div class="itemContent">
			{{:helper.link(data.muted ? 'Disabled' : 'Enabled', data.muted ? 'volume-off' : 'volume-on', { 'mute' : 1 }, null, null)}}
			{{:helper.link(data.sound_off ? '' : '', 'volume-off', { 'sound_off' : 1 }, null, data.sound_off ? 'selected' : null)}}
		</div>
	</div>

</fieldset>
<fieldset style="background-color: #202020;border-color: rgb(117, 117, 117);">
	<legend style="text-align:center">Status</legend>
	<div class='item'>
		<div class="itemLabel">
			Status:
		</div>
		<div class="itemContent">
			{{:data.status}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			Temperature:
		</div>
		<div class="itemContent">
			{{if data.heat < (data.critical_heat * 0.5)}}
				{{:helper.displayBar(data.heat, 0, data.critical_heat, 'good')}}
			{{else data.heat < (data.critical_heat * 0.75)}}
				{{:helper.displayBar(data.heat, 0, data.critical_heat, 'average')}}
			{{else}}
				{{:helper.displayBar(data.heat, 0, data.critical_heat, 'bad')}}
			{{/if}}
		</div>
		<div class="itemContent">
			{{if data.heat < (data.critical_heat * 0.5)}}
				<span class="good">Temperature low.</span>
			{{else data.heat < (data.critical_heat * 0.75)}}
				<span class="average">Sensor temperature high!</span>
			{{else}}
				<span class="bad">TEMPERATURE CRITICAL: Disable or reduce power immediately!</span>
			{{/if}}
		</div>
	</div>
</fieldset>
<fieldset style="background-color: #202020;border-color: rgb(117, 117, 117);">
	<legend style="text-align:center">Contacts</legend>
	{{if data.known_contacts || data.unknown_contacts }}
		<table>
		{{for data.known_contacts}}
			<tr>
				<td>
					<div class='item'>
						<td>{{:helper.link('Scan', 'search' ,{ 'scan' : value.ref }, null, null)}}</td>
						<td><span style="color: {{:value.color}};">{{:value.name}}</span>, bearing {{:value.bearing}}</td>
					</div>
				</td>
			</tr>
		{{/for}}
		{{for data.unknown_contacts}}
		<tr>
			<div class='item' style="padding-bottom: 10px;">
				<span>{{:value.progress}}% - {{:value.name}}, bearing {{:value.bearing}} +/- {{:value.variability}}</span>
				{{:helper.displayBar(value.progress, 0, 100, 'good')}}
			</div>
		</tr>
		{{/for}}
		</table>
	{{else}}
		None
	{{/if}}
</fieldset>
<fieldset style="background-color: #202020;border-color: rgb(117, 117, 117);">
	<legend style="text-align:center">Scan data</legend>
	{{if data.last_scan}}
		<table>
			<tr>
				<td>{{:helper.link('Print', 'print' ,{ 'print' : 1 }, null, null)}}</td>
				<td><b>{{:data.last_scan.name}}</b> at {{:data.last_scan.location}}</td>
			</tr>
		</table>
		<div class='block'>
			{{:data.last_scan.data.join("<hr style='border-color: #202020;'>")}}
		</div>
	{{else}}
		N/A
	{{/if}}
</fieldset>
{{if data.status == 'MISSING'}}
	<div class='item'>
		{{:helper.link('Link up with the sensor suite', 'gear', { 'link' : 1 }, data.status == 'MISSING' ? null : 'disabled', null)}}
	</div>
{{/if}}
