<center><h2>Skills for {{:data.name}}</h2></center>
<h3>Current assignment: {{:data.job}}{{if data.job !== data.special_role}}, {{:data.special_role}}{{/if}}</h3>
{{if data.can_choose}}
	<h3>Choose extra skills:</h3>
	{{for data.selection_data}}
		<div class="item">
			<div class="itemLabel">
				{{:value.name}}
			</div>
			<div class="itemContent">
				Remaining: {{:value.remaining}}
			</div>
		</div>
	{{/for}}
{{else}}
	<h3>You may not reselect your skills.</h3>
	{{:helper.link("Ask admins for a reset", null, {'admin_reset' : 1})}}
{{/if}}
{{if data.can_choose}}
	<center><h2>Choose extra skills:</h2></center>
	{{:helper.link("Submit selection", null, {'submit' : 1})}}
{{else}}
	<center><h2>Current skills</h2></center>
{{/if}}
<table style="width:100%">
{{for data.skills_by_cat}}
	<tr>
	<th>
		{{:value.name}}
	</th>
	</tr>
	{{for value.skills :skill_value:skill_key}}
		<tr>
		<td>
		<div class="itemLabel" style="width: 100% !important; max-width: 100%;">
			{{:skill_value.name}}:
		</div>
		</td>
		{{for skill_value.levels :level_value:level_key}}
			<td>
			{{if !level_value.blank}}
				<div>
				{{if level_value.selected}}
					{{:helper.link(level_value.name, null, {}, null, 'selected')}}
				{{else !data.can_choose}}
					{{:helper.link(level_value.name, null, {}, null, 'disabled')}}
				{{else !level_value.selected}}
					{{if level_value.marked_for_selection}}
						{{:helper.link(level_value.name, null, {'remove_skill' : level_value.val, 'skill' : skill_value.ref}, null, 'warning')}}
					{{else !level_value.marked_for_selection && !level_value.limit_exceeded}}
						{{:helper.link(level_value.name, null, {'add_skill' : level_value.val, 'skill' : skill_value.ref}, null)}}
					{{else !level_value.marked_for_selection && level_value.limit_exceeded}}
						{{:helper.link(level_value.name, null, {}, null, 'disabled')}}
					{{/if}}
				{{/if}}
				</div>
			{{/if}}
			</td>
		{{/for}}
		</tr>
	{{/for}}
{{/for}}
</table>
{{if data.can_choose}}{{:helper.link("Submit selection", null, {'submit' : 1})}}{{/if}}
