<div class='item'>
  {{:~link('Close', 'gear', {'close' : 1}, null, 'fixedLeft')}}
</div>

<div class="item">
  <h2>Storage</h2>
  {{if secure}}
    <span class='notice'>
      {{:locked == -1 ? "Sec.re ACC_** //):securi_nt.diag=>##'or 1=1'%($..." : "Secure Access: Please have your identification ready."}}
    </span>
  {{/if}}
</div>
<div class='item'>
  {{if contents}}
    {{for contents}}
      <div class='item'>
        <div class='itemLabel'>
          <span class='highlight'>{{:display_name}} ({{:quantity}}):</span>
        </div>
        <div class="itemContent">
          {{:~link('Vend', 'circle-arrow-s', { "vend" : vend, "amount" : 1 }, null, 'statusValue')}}
          {{if quantity >= 5}}
            {{:~link('x5', 'circle-arrow-s', { "vend" : vend, "amount" : 5 }, null, 'statusValue')}}
          {{/if}}
          {{if quantity >= 10}}
            {{:~link('x10', 'circle-arrow-s', { "vend" : vend, "amount" : 10 }, null, 'statusValue')}}
          {{/if}}
          {{if quantity >= 25}}
            {{:~link('x25', 'circle-arrow-s', { "vend" : vend, "amount" : 25 }, null, 'statusValue')}}
          {{/if}}
          {{if quantity > 1}}
            {{:~link('All', 'circle-arrow-s', { "vend" : vend, "amount" : quantity }, null, 'statusValue')}}
          {{/if}}
        </div>
      </div>
    {{/for}}
  {{else}}
    <span class='average'>No products loaded.</span>
  {{/if}}
</div>

{{if panel_open}}
  <div class='item'>
    <h2>Access Panel</h2>
  </div>
  <div class='item'>
    <div class='itemLabel'>
      <span class='good'>Wires:</span>
    </div>
    <div class='itemContentWide'>
      {{for wires}}
        <div class='item'>
          <div class='itemLabel' style='color: {{:wire}};'>
            {{:wire}} wire:
          </div>
          <div class='itemContent'>
            {{if cut}}
              {{:~link('Mend', 'plus', {'cutwire' : index})}}
            {{else}}
              {{:~link('Cut', 'minus', {'cutwire' : index})}}
              {{:~link('Pulse', 'signal-diag', {'pulsewire' : index})}}
            {{/if}}
          </div>
        </div>
      {{/for}}
    </div>
  </div>

  <div class='statusDisplay'>
    The orange light is <span class='{{:electrified ? "good" : "bad"}}'><b>{{:electrified ? "on" : "off"}}</b></span>.<br>
    The red light is <span class='{{:shoot_inventory ? "good" : "bad"}}'><b>{{:shoot_inventory ? "on" : "off"}}</b></span>.<br>
    {{if secure}}
      The green light is
      <span class='{{:locked == 1 ? "bad" : locked == -1 ? "average" : "good"}}'>
        {{:locked == 1 ? "off" : locked == -1 ? "blinking" : "on"}}
      </span>.<br>
    {{/if}}
  </div>
{{/if}}
