<div class="item">
	<div class="itemLabel">
		Free channels:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.channels_left, 0, data.max_channels)}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Events:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.events_active, 0, data.max_events)}}
	</div>
</div>