	<div class="item">
        <div class="itemLabel">
            <b>Player Name</b>:
        </div>
        <div class="itemContent">
            {{:data.myName}}
        </div>
    </div>


	<br>

<iframe src="http://www.247sudoku.com/sudoku8.swf"height = "572" width = "800"></iframe><br>
<a href="http://www.247sudoku.com">24/7 Sudoku </a> powered by <a href="http://www.247games.org">247games.org</a>"
<br><b><font color = red>Selecting the +Games button will open a web page on your computer own risk!</font></b>