{{if data.detonating}}
	<div class="notice" style="color: #000000;">
		<h2 style="color: #000000;">CRYSTAL DELAMINATING</h2>
		<h3 style="color: #000000;">Evacuate area immediately</h3>
		<div class="clearBoth"></div>
	</div>
{{else}}
	<h3>Crystal Integrity</h3>
	{{:helper.displayBar(data.integrity_percentage, 0, 100, (data.integrity_percentage >= 90) ? 'good' : (data.integrity_percentage >= 25) ? 'average' : 'bad')}}<br>
	<b>{{:data.integrity_percentage}} %</b>
	<h3>Environment</h3>
	<b>Temperature: </b>
	{{:helper.displayBar(data.ambient_temp, 0, 10000, (data.ambient_temp >= 5000) ? 'bad' : (data.ambient_temp >= 4000) ? 'average' : 'good')}}<br>
	{{:data.ambient_temp}} K<br>
	<b>Pressure: </b>{{:data.ambient_pressure}} kPa
{{/if}}