{{##def.common_supply_header:
  <th style="width:65%">Item
  <th style="width:20%">Cost
  <th style="width:15%">Options
#}}
{{##def.common_request_header:
  <th style="width:5%">ID
  <th style="width:25%">Requested item
  <th style="width:20%">Requested by
  <th style="width:20%">Reason
  <th style="width:10%">Cost
  <th style="width:20%">Options
#}}
{{##def.supply_request_item:
	<tr class="candystripe">
	<td>{{:value.id}}
	<td>{{:value.object}}
	<td>{{:value.orderer}}
	<td>{{:value.reason || '<i>No reason provided.</i>'}}
	<td>{{:value.cost}} {{:data.currency_short}}
#}}
<div class='notice'>
	{{if data.is_admin}}
		You are authenticated. You may access all functions of this program.
	{{else}}
		You are unauthenticated. Some functions may be unavailable.
	{{/if}}
</div>
{{if data.is_admin}}
	{{if data.request_length || data.shopping_cart_length}}
		<div class='notice'>
			{{if data.request_length}}
				You have <u>{{:data.request_length}}</u> orders pending.
			{{/if}}
			{{if data.request_length && data.shopping_cart_length}}
				&#32;|&#32;
			{{/if}}
			{{if data.shopping_cart_length}}
				You have <u>{{:data.shopping_cart_length}}</u> orders awaiting shuttle delivery.
			{{/if}}
		</div>
	{{else}}
		<div class='notice info'>
			All orders caught up.
		</div>
	{{/if}}
{{/if}}
<div class="item">
	{{:helper.link('Browse Goods', 'cart', {'set_screen' : 1}, data.screen == 1 ? 'selected' : null)}}
	{{:helper.link('View Statistics', 'calculator', {'set_screen' : 2}, data.screen == 2 ? 'selected' : null)}}
	{{:helper.link('Controls', 'bullet', {'set_screen' : 3}, data.screen == 3 ? 'selected' : null)}}
	{{:helper.link('Browse Orders', 'check', {'set_screen' : 4}, data.screen == 4 ? 'selected' : null)}}
</div>
<hr>
<span>Current balance: {{:data.credits}} {{:data.currency}}</span>
<hr>
{{if data.screen == 1}}
	{{for data.categories}}
		{{:helper.link(value, null, {'select_category' : value}, data.category == value ? 'selected' : null)}}
	{{/for}}
	{{if data.category}}
		<table style="width:100%">
			<tr>{{#def.common_supply_header}}
			{{for data.possible_purchases}}
				<tr class="candystripe">
				<td>{{:value.name}}
				<td>{{:value.cost}} {{:data.currency}}
				<td>
				{{:helper.link('Order', null, {'order' : value.ref})}}
				{{if data.showing_contents_of && data.showing_contents_of == value.ref}}
					{{:helper.link('Close', null, {'hide_contents' : 1})}}
					<tr class="candystripe"><th colspan="3">Contents
					{{for data.contents_of_order :content :content_index}}
						<tr class="candystripe">
						<td colspan="3">{{:content.name}} × {{:content.amount}}
					{{/for}}
          			<hr>
					<tr>{{#def.common_supply_header}}
				{{else}}
					{{:helper.link('Contents', null, {'show_contents' : value.ref})}}
				{{/if}}
			{{/for}}
		</table>
	{{/if}}
{{else data.screen == 2}}
	{{for data.point_breakdown}}
		<div class="item">
			<div class="itemLabel">
				{{:value.desc}}: 
			</div>
			<div class="itemContent">
				{{:value.points}} {{:data.currency_short}}
			</div>
		</div>
	{{/for}}
	<div class="item">
		<div class="itemLabel">
			Options:
		</div>
		<div class="itemContent">
			{{:helper.link('Print', 'print', {'print_summary' : 1}, data.can_print ? null : 'disabled')}}
		</div>
	</div>
{{else data.screen == 3}}
	<div class="item">
		<div class="itemLabel">
			Current {{:data.shuttle_name}} location:
		</div>
		<div class="itemContent">
			{{:data.shuttle_location}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Current {{:data.shuttle_name}} status:
		</div>
		<div class="itemContent">
			{{:data.shuttle_status}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Commands:
		</div>
		<div class="itemContent">
			{{:helper.link('Launch', 'check', {'launch_shuttle' : 1}, data.is_admin ? (data.shuttle_can_control ? null : 'disabled') : 'disabled')}}
		</div>
	</div>
{{else data.screen == 4}}
	{{if data.is_admin}}
		{{if data.is_NTOS}}
			<div class="item">
				<div class="itemLabel">
					Notifications are: 
				</div>
				<div class="itemContent">
					{{:helper.link((data.notifications_enabled ? 'Enabled' : 'Disabled'), null, {'toggle_notifications': 1})}}
				</div>
			</div>
		{{/if}}
		<div class="item">
			<center><h3>Pending orders</h3></span>
			<table style="width:100%">
				<tr>{{#def.common_request_header}}
				{{for data.requests}}
					{{#def.supply_request_item}}
					<td>
					{{:helper.link('Approve', 'check', {'approve_order' : value.id}, value.cost > data.credits ? 'disabled' : null )}}
					{{:helper.link('Deny', 'cancel', {'deny_order' : value.id})}}
					{{:helper.link('Print', 'print', {'print_receipt' : value.id, 'list_id' : value.list_id}, data.can_print ? null : 'disabled')}}
				{{/for}}
			</table>
		</div>
		<div class="item">
			<center><h3>Approved orders</h3></span>
			<table style="width:100%">
				<tr>{{#def.common_request_header}}
				{{for data.cart}}
					{{#def.supply_request_item}}
					<td>
					{{:helper.link('Cancel', 'cancel', {'cancel_order' : value.id})}}
					{{:helper.link('Print', 'print', {'print_receipt' : value.id, 'list_id' : value.list_id}, data.can_print ? null : 'disabled')}}
				{{/for}}
			</table>
		</div>
		<div class="item">
			<center><h3>Filled orders</h3></span>
			<table style="width:100%">
				<tr>{{#def.common_request_header}}
				{{for data.done}}
					{{#def.supply_request_item}}
					<td>
					{{:helper.link('Delete', 'cancel', {'delete_order' : value.id})}}
					{{:helper.link('Print', 'print', {'print_receipt' : value.id, 'list_id' : value.list_id}, data.can_print ? null : 'disabled')}}
				{{/for}}
			</table>
		</div>
	{{else}}
		<h3>Access denied: Missing identification or insufficient permissions.</h3>
	{{/if}}
{{/if}}
