{{for data.active_templates}}
    <h3><u>{{:value.name}}</u></h3>
    {{if value.zone == value.selected}}
        {{:helper.link(value.template, null, {'select_zone': value.name}, 'disabled')}}
    {{else}}
        {{:helper.link(value.template, null, {'select_zone': value.name}, null)}}
    {{/if}}
{{empty}}
    <span class='average'><i>No VR template loaded.</i></span>
{{/for}}
<h3><u>Connected occupants</u></h3>
<table>
{{for data.occupants}}
    <tr>
    <td>{{:helper.link("Message", null, {'msg_occupant': value.mob_ref})}}
    <td>{{:value.name}}
{{empty}}
    <tr>
    <td>None.
{{/for}}
</table>
{{:helper.link("Message all occupants", 'signal-diag', {'msg_all_occupants' : 1})}}
<h3><u>Available areas</u></h3>
<table>
{{for data.templates}}
    <tr>
    <td>{{:helper.link("Activate", null, {'load_template': value.name}, data.on_cooldown ? 'disabled' : null)}}
    <td>{{:value.name}}
{{empty}}
    <tr>
    <td>None.
{{/for}}
</table>
{{if data.emag_templates}}
    <h3><span class='bad'><u>Nonstandard areas</u></span></h3>
    <table>
    {{for data.emag_templates}}
        <tr>
        <td>{{:helper.link("Activate", null, {'load_template': value.name}, data.on_cooldown ? 'disabled' : null)}}
        <td>{{:value.name}}
    {{/for}}
    </table>
{{/if}}
