name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v4
        with:
          stale-issue-message: 'This issue has not been updated in 30 days, and will close in 5 days from now if no updates are made.'
          days-before-stale: 30
          days-before-close: 5
          days-before-pr-stale: -1
          days-before-pr-close: -1
          only-issue-labels: 'Runtime Error'
